<div>
  <form role="form">
    <div class="form-group input-group">
      <span class="input-group-addon" >Pax</span>
      {{input valueBinding='pax' class='form-control'}}
    </div>
    <div class="form-group input-group">
      <span class="input-group-addon" >Status</span>
      {{input styleBinding='style' valueBinding='status' class='form-control'}}
    </div>
    <div class="form-group input-group">
      <span class="input-group-addon" >Start</span>
      {{input valueBinding='start' class='form-control'}}
    </div>
    <div class="form-group input-group">
      <span class="input-group-addon" >Finish</span>
      {{input valueBinding='end' class='form-control'}}
    </div>
    <div class="form-group input-group">
      <span class="input-group-addon" >Amount $</span>
      {{input valueBinding='amount' class='form-control'}}
    </div>
    <div class="form-group">
      <label >Comments</label>
      {{textarea valueBinding='comments' rows='3' class='form-control'}}
    </div>

    <div class="btn-group">
      <button class="btn btn-large btn-primary" {{action 'saveBill'}}>Save</button>
    </div>
  </form>
</div>
